.productoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    border: 1px solid #EDF2F4;
    border-radius: 20px;
    padding: 0.5em
}

.productoCardTitle {
    font-size: 2rem;
    font-weight: 500;
}

.productoImage {
    max-width: 250px;
    border-radius: 20px;
    border: 1px solid rgba(107, 107, 107, 0.2);
}

.productoImage>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.productoDescription {
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

.productoStock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #EDF2F4;
}

.stockButtonLeft {
    background-color: #EDF2F4;
    border-radius: 5px 0px 0px 5px;
    color: black;
    font-weight: 500;
    padding: 5px
}

.stockButtonRight {
    background-color: #EDF2F4;
    border-radius: 0px 5px 5px 0px;
    color: black;
    font-weight: 500;
    padding: 5px
}

.cartAddButton {
    width: 200px;
}

.cantidad {
    padding: 0 2em 0;
}

.cartAddButton {
    padding: 0.5em;

}

.emptyStockMessage {
    font-size: 1rem;
    color: #EF233C;
}