.container {
    display: flex;
    flex-direction: column;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 1em 0 1em 0;
}

.productosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5em;
    gap: 1em
}


@media only screen and (max-width: 970px) {
    .productosContainer {
        grid-template-columns: 1fr;
    }
}