.navbar {
    background-color: #2B2D42;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 1em;
    top: 0;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5em;
}

.navigation a {
    text-decoration: none;
    color: #EDF2F4;
}

.navigation li {
    transition-duration: .3s;
}

.navigation li:hover {
    transform: scale(1.2);
}

.logo {
    text-decoration: none;
    color: #EDF2F4;
    font-size: 2em;
    font-weight: 900;
}